@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
}

body {
	font-family: var(--font-mono);
	margin: 0;
	/*	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
	*/
}

@media (min-width: 720px) {
}

/*-----------------------------edit material ui-------------------------- */

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Layout grid spacing. */
:root {
	--mdc-layout-grid-margin-desktop: 0;
	--mdc-layout-grid-gutter-desktop: 0;
	--mdc-layout-grid-column-width-desktop: 0px;
	--mdc-layout-grid-margin-tablet: 0;
	--mdc-layout-grid-gutter-tablet: 0;
	--mdc-layout-grid-column-width-tablet: 0px;
	--mdc-layout-grid-margin-phone: 0;
	--mdc-layout-grid-gutter-phone: 0;
	--mdc-layout-grid-column-width-phone: 0px;
}

/* color fonte fieldText */
/* fonte in text */
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
	color: rgb(9, 8, 8);
}

/*  Drawer  */
.mdc-drawer {
	border-color: rgba(255, 255, 255, 0.12);
	background-color: #212125;
	background-color: var(--mdc-theme-surface, #d4eff7);

	background: url(/imags/i1.png) 0% 0% repeat-y;
	background-size: 100% auto;
	width: 256px;
}

.mdc-drawer-app-content {
	margin-left: 256px;
	margin-right: 0;
}
